
.A {
    background-color: lightgoldenrodyellow;
}
.B {
    background-color: lightgreen;
}
.C {
    background-color: lightcyan;
}
.D {
    background-color: lightpink;
}

/* .waiting > * {
    transition: opacity 1s;
}
.waiting:not(.show) > * {
    opacity: 0;
}
.waiting.show > *  {
    opacity: 1;
} */

.slide.hide {
    display: none;
}

.nav {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left:0;
    right:0;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}
.nav li:first-child {
    margin-left: auto;
}
.nav li:last-child {
    margin-right: auto;
}
.nav li > * {
    pointer-events: none;
    user-select: none;
}