.gallery{
    display: flex;
}
.down{
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.side{
    flex-direction: row;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.snap {
    scroll-snap-align: center;
    height: 100vh;
}

.slide {
    position: relative;
    padding: 2rem;
}


@keyframes enter {
    from {opacity: 0;}
    to {opacity: 1;}
}
.next{
    position: absolute;
    font-size: 13vmin;
    width: min-content;
    height: min-content;
    line-height: 1;
    animation: enter 1s forwards;
}
.next.down{
    top: 100vh;
    top: 100dvh;
    left: 50%;
    transform: translate(-50%,-100%) rotate(90deg);
}
.next.right{
    top:50%;
    right: 0.5rem;
    transform: translateY(-50%);
}